<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Idea in Comittee</title>
    <style>
      * { box-sizing: border-box; margin: 0; padding: 0; } body { width: 100vw;
      margin: 2rem auto; padding: 2rem; } p { font-size: 16px; font-weight: 300;
      }
    </style>
  </head>
  <body>
    <p>Hello, {{name}}</p>
    <p>There is a new Idea to vote in Comittee of Ideas Panel</p>
    <p>Click the link to log in into Ideas Panel and go to the Comittee.</p>
    <p>{{link}}</p>
    <p>Technip Energies</p>
    <img style="width: 50px; height: 50px" alt="product" src="cid:technip" />
  </body>
</html>